.item {
  padding-bottom: 1.5rem;
  background-color: white;
  border-left: 4px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border: 4px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }

  .time {
    color: #2a2839;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-bottom: 2px solid;
    margin-bottom: 1px;
    @include mobile-and-up {
      font-size: 0.9rem;
    }
    @include mobile-only {
      margin-bottom: 0.3rem;
      font-size: 0.85rem;
    }
  }

  .content {
    border: none;
    width: 100%;
    height: 30px;
    font-family: sans-serif;
    outline: none;
  }
}
